/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    background: #ffffff;
    color: #111827;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* NAVBAR */
.navbar {
    background: #111827;
    color: white;
     position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-inner {
    max-width: 1200px;   /* controls navbar width */
    width: 90%;
    margin: auto;
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 12px;
}

.username {
    font-size: 14px;
    opacity: 0.9;
}
.username a{
    text-decoration: none;
    color: white;
}

/* BUTTON */
.btn {
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
    text-decoration: none;
}

.btn-danger {
    background: #dc2626;
    color: white;
}

/* MAIN WRAPPER */
.main-wrapper {
    flex: 1;
    padding: 20px 0;
}

/* CONTENT CONTAINER */
.container {
    width: 95%;            
    margin: auto;
}

/* FOOTER */
.footer {
    background: #e5e7eb;
    text-align: center;
    padding: 12px;
    font-size: 13px;
    color: #374151;
}

.messages {
    margin-bottom: 16px;
    text-align: center;
}

.alert {
    padding: 12px 14px;
    border-radius: 8px;
    font-size: 14px;
    margin-bottom: 10px;

}

.alert.error {
    background: #fee2e2;
    color: #991b1b;
    border: 1px solid #fecaca;
}

.alert.success {
    background: #dcfce7;
    color: #166534;
    border: 1px solid #bbf7d0;
}

.alert.warning {
    background: #fef3c7;
    color: #92400e;
    border: 1px solid #fde68a;
}

.alert.info {
    background: #e0f2fe;
    color: #075985;
    border: 1px solid #bae6fd;
}

/* MOBILE */
@media (max-width: 600px) {
    .container {
        width: 95%;
    }

    .username {
        display: none;
    }
}
