{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/password_change.css' %}">
{% endblock %}

{% block content %}
<div class="auth-container">

    <h2>Change Password</h2>
    <p class="subtitle">
        Update your account password securely
    </p>

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <!-- Old Password -->
        <div class="form-group">
            <label>{{ form.old_password.label }}</label>
            {{ form.old_password }}
            {{ form.old_password.errors }}
        </div>

        <!-- New Password -->
        <div class="form-group">
            <label>{{ form.new_password1.label }}</label>
            {{ form.new_password1 }}

            {% if form.new_password1.help_text %}
                <div class="help-text">
                    {{ form.new_password1.help_text|safe }}
                </div>
            {% endif %}

            {{ form.new_password1.errors }}
        </div>

        <!-- Confirm Password -->
        <div class="form-group">
            <label>{{ form.new_password2.label }}</label>
            {{ form.new_password2 }}
            {{ form.new_password2.errors }}
        </div>

        <button type="submit" class="btn-primary">
            Update Password
        </button>
    </form>

    <div class="auth-link">
        {% comment %} <a href="javascript:history.back()">← Back</a> {% endcomment %}
        <a href="{% url 'user_profile_view'%}">← Back</a>
    </div>

</div>
{% endblock %}
